<!doctype html>
<html lang="en">
	<head>
		<link href="{{url_for('style')}}" rel="stylesheet">
		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head %} {% endblock %}
		<script src="{{url_for('static', filename='app.js')}}"></script>
		<link href="{{url_for('static', filename='pomf.css')}}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			{% block body %} This should not be visible to the end user. If you see this, this is a <em>big</em> error. {% endblock %}
		</div>
	</body>
</html>
